/* id ou class => "cb-...-..." */

#cb-todos-inputs{
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 0px 0px 5px 5px;
  padding: 30px;
}

#cb-inputs-cima{
  display: flex;
  align-items: center;
  gap: 50px;
}

#cb-inputs-cima input{
  padding: 3px;
}

#cb-inputs-cima button {
  padding: 10px 30px 10px 30px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  color: white;
  transition: ease-in-out 300ms;
  text-decoration: none;
}
#cb-inputs-cima button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  transition: ease-in-out 300ms;
}

#ititulo{
  width: 20vw;
  background: none;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
}
#iimgURL{
  width: 26vw;
  background: none;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
}
#cb-input-baixo{
  margin-top: 15px;
  display: flex;
  gap: 7px;
}
#itexto{
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 5px;
}


