/* -- RESET CSS ------------------------------ */
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Montserrat';
}

html{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/sky-background.jpg");
}

/* -- HEADER ------------------------------ */
header {
  width: 100%;
  color: white;
}
#header-container {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(20px);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#header-container h2 {
  width: 100%;
  margin-bottom: 15px;
  font-size: 32px;
}
#header-menus {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  font-size: 20px;
  font-weight: normal;
}
#header-menus li a {
  color: white;
  text-decoration: none;
  font-weight: normal;
}
#header-menus li a:hover {
  font-weight: 500;
}
#header-menus li {
  font-size: 16px;
}

/* -- FOOTER --------------------------------- */
footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(20px);
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  margin-top: 60px;
}
footer div p a {
  color: white;
  text-decoration: none;
  font-weight: normal;
}
footer div p a:hover {
  text-decoration: underline;
}

/* -- MAIN - BLOGS RECENTES ------------------- */
main {
  width: 80%;
  /* background-color: rgba(0, 255, 255, 0.233); */
  margin: auto;
  margin-top: 30px;
  color: white;
}

main h1 {
  margin-bottom: 10px;
  margin-left: 20px;
}
#recentes-container {
  display: flex;
  justify-content: space-between;
}

#recentes-grande {
  position: relative;
  display: inline-block;
}
#bloco-titulo-1 {
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 173px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(20px);
  padding: 23px 20px 23px 20px;
  border-radius: 0px 0px 5px 5px;
  width:calc(40vw - 40px);
  top: 287px;
}
#img-grande {
  width:40vw;
  height:352px;
  border-radius: 5px; 
  object-fit: cover;
  object-position: center;
}

#pequenas {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.recentes-pqn img {
  width: 38vw;
  height: 164px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
#bloco-titulo-2 {
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 173px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(20px);
  padding: 23px 20px 23px 20px;
  border-radius: 0px 0px 5px 5px;
  width:calc(38vw - 40px);
  top: 284px;
}
#bloco-titulo-3 {
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 173px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(20px);
  padding: 23px 20px 23px 20px;
  border-radius: 0px 0px 5px 5px;
  width:calc(38vw - 40px);
  top: 472px;
}

#recentes-container a {
  color: white;
  text-decoration: none;
}
#recentes-container a:hover div article p{
  text-decoration: underline;
}

/* -- TODOS OS BLOGS ---------------------------------- */

#todos-blogs-container {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 10px;
  padding: 15px;
  width: 50vw;
  margin: auto;
  margin-top: 25px;
}
#titulo-botao {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}
.blog-article {
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}
.blog-article p {
  padding-left: 10px;
}
#titulo-botao button {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  color: white;
  transition: ease-in-out 300ms;
}
#titulo-botao button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  transition: ease-in-out 300ms;
}

.icones {
  display: flex;
  flex-direction: row;
  gap: 13px;
}